body{
    color:green;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{

    width: 70%;
    padding: 1rem;
    text-align: center;
    border: 2px solid black;
    margin: auto;

}

#container h1{
font-size: 40px;
  }

#cabecera{
  color:white;
    background-color: #33a;
    box-shadow: opx 2px 20px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
}